<?xml version="1.0"?>
<config>
    <modules>
        <MKleine_Categorymerge>
            <version>0.0.1</version>
        </MKleine_Categorymerge>
    </modules>
    <global>
        <blocks>
            <mk_categorymerge>
                <class>MKleine_Categorymerge_Block</class>
            </mk_categorymerge>
        </blocks>
        <models>
            <mk_categorymerge>
                <class>MKleine_Categorymerge_Model</class>
            </mk_categorymerge>
        </models>
        <helpers>
            <mk_categorymerge>
                <class>MKleine_Categorymerge_Helper</class>
            </mk_categorymerge>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <MKleine_Categorymerge before="Mage_Adminhtml">MKleine_Categorymerge</MKleine_Categorymerge>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <mk_categorymerge>
                    <file>MKleine_Categorymerge.xml</file>
                </mk_categorymerge>
            </updates>
        </layout>
        <events>
            <adminhtml_catalog_category_tabs>
                <observers>
                    <mk_categorymerge_adminhtml_catalog_category_tabs>
                        <type>singleton</type>
                        <class>mk_categorymerge/observer</class>
                        <method>adminhtml_catalog_category_tabs</method>
                    </mk_categorymerge_adminhtml_catalog_category_tabs>
                </observers>
            </adminhtml_catalog_category_tabs>
            <catalog_category_save_after>
                <observers>
                    <mk_categorymerge_catalog_category_save_after>
                        <type>singleton</type>
                        <class>mk_categorymerge/observer</class>
                        <method>catalog_category_save_after</method>
                    </mk_categorymerge_catalog_category_save_after>
                </observers>
            </catalog_category_save_after>
        </events>
        <translate>
            <modules>
                <MKleine_Categorymerge>
                    <files>
                        <default>MKleine_Categorymerge.csv</default>
                    </files>
                </MKleine_Categorymerge>
            </modules>
        </translate>
    </adminhtml>
</config>
